<!DOCTYPE HTML>
<!--
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Fact Filter</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/jquery.dropotron.min.js"></script>
		<script src="static/js/skel.min.js"></script>
		<script src="static/js/skel-layers.min.js"></script>
		<script src="static/js/init.js"></script>
		<link rel="stylesheet" href="/static/css/skel.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/style-wide.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="sources">Fact Filter</a></h1>
							<span class="tag">Stay Skeptical.</span>
						</div>
						<nav id="nav">
							<ul>
								<li class="active"><a href="#">Homepage</a></li>
								<li><a href="sources">Browse News Sources</a></li>
								<li><a href="enter_url">Check Specific Article</a></li>
							</ul>
						</nav>
					</div>
				<!-- Header -->

				<!-- Page -->
				
				<div id="page" class="container">
						<section>
							<header class="major">
								<h2>{{news}} NEWS ARTICLES</h2>
								<span class="byline">Article links with objectivity ratings on the side</span>
							</header>
							<p>
              {% for article in news_articles %}
								<li><a href="{{article['url']}}">{{article['title']}}</a></li>
                <li>{{article.obj_score}}</li>
              {% endfor %}
							</p>
              
						</section>
					</div>
				
				<!-- /Page -->

				

	</div>



	<!-- Copyright -->
		<div id="copyright">
			<div class="container"> <span class="copyright">Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</span>
				<ul class="icons">
					<li><a href="https://github.com/jaloaguero/hackutdvi" class="fa fa-github"><span>Github</span></a></li>
				</ul>
			</div>
		</div>

	</body>
</html>
